{% extends 'myauth/base.html' %}}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>

        <h3>Avatar:</h3>

        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
        {% else %}
            <p>Not avatar</p>
        {% endif %}

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}

    {% if user.profile.pk %}
        <div>
            <a href="{% url 'myauth:profile_update' pk=user.profile.pk %}">
                Update profile
            </a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'myauth:profile_create' %}">
            Create profile
            </a>
        </div>
    {% endif %}

    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Update
            </button>
        </form>
    </div>

    <div>
        <a href="{% url 'myauth:users_list' %}">
            Back to users list
        </a>
    </div>

{% endblock %}